<!-- include header -->
<%- include('include/_DHeader') %>
<!-- /include header -->

<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>

<form id="details">
    <div class="container">
        <div class="form-box">
            <h1>Update Order</h1>
                <div class="input-group">
                    <div class="input-field">
                        <input type="text" name="Name2" id="Name2" placeholder="Name" title="Name" value="<%=details.Name%>">
                    </div>
    
                    <div class="input-field">
                        <input type="text" name="Address" id="Address2" placeholder="Address" title="Address" value="<%=details.Address%>">
                    </div>
    
                    <div class="input-field">
                        <input type="text" name="PhoneNumber" id="PhoneNumber2" placeholder="Phone Number" title="Phone Number" value="<%=details.PhoneNumber%>">
                    </div>
    
                    <div class="input-field">
                        <input type="text" name="Notice" id="Notice2" placeholder="Notice" title="Notice" value="<%=details.Notice%>">
                    </div>
                </div>
        </div>
    </div>
</form>

<main id="site-main">
    <div class="container">
        <form>
            <table class="table">
                <thread class="thread-dark">
                    <tr>
                        <th>Image</th>
                        <th>Product</th>
                        <th>Kind</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Remove</th>
                    </tr>
                </thread>
                <tbody>
                    <% const productsArray = JSON.parse(details.Products); %>
                    <% productsArray.forEach(function(product) { %>
                        <tr>
                            <td><img src="img/products/<%=product.ProductName%>.jpeg" class="img2" alt=""></td>
                            <td><%=product.ProductName%></td>
                            <td><%=product.Kind%></td>
                            <td><%=product.Quantity%></td>
                            <td><%=product.Price%></td>
                            <td>
                                <a onclick="removeFromUpdateDetails('<%=details.Products%>' , '<%=product._id%>' ,'<%=details._id%>' )" class="btn border-shadow delete">
                                    <span class="text-gradient"><i class="fas fa-times"></i></span>
                                </a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </form>
    </div>
    <% total = 0 %>
    <% productsArray.forEach(function(product) { %>
        <% total = total + (product.Price * product.Quantity) %>
        <% }); %> 
    <div class="subtotal">
        Subtotal:<%=total%>
    </div>
    <div class="form">
        <a onclick="saveUpdatedDetails('<%=details._id%>')"><button type="submit" class="btn text-dark update">
            Save
        </button></a>
    </div>
</main>



<script src="js/script.js"></script>
