<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<section id="header">
    <a href="#"><img src="img/logo.png" class="logo" alt=""></a>

    <div>
        <ul id="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/orders">Orders</a></li>
            <li id="lg-bag"><a class="active" href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
            <a href="#" id="close"><i class="far fa-window-close"></i></a>
        </ul>
    </div>
    <div id="mobile">
        <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
        <i id="bar" class="fas fa-outdent"></i>
    </div>
</section>


    <section id="page-header">
        <h2>#BuyFromHome</h2>
        <p>Save more with coupons & up to 50% off!</p>
        
    </section>

    <main id="site-main">
        <div class="container">
            <form>
                <table class="table">
                    <thread class="thread-dark">
                        <tr>
                            <th>Image</th>
                            <th>Product</th>
                            <th>Kind</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Remove</th>
                        </tr>
                    </thread>
                    <tbody>
                        <%for(var i=0;i < orders.length;i++){%>
                            <tr>
                                <td><img src="img/products/<%=orders[i].ProductName%>.jpeg" class="img2" alt=""></td>
                                <td><%=orders[i].ProductName%></td>
                                <td><%=orders[i].Kind%></td>
                                <td><%=orders[i].Quantity%></td>
                                <td><%=orders[i].Price%></td>
                                <td>
                                    <a onclick="removeFromCart('<%=orders[i]._id %>')" class="btn border-shadow delete">
                                        <span class="text-gradient"><i class="fas fa-times"></i></span>
                                    </a>
                                </td>
                            </tr>
                        <%}%>
                    </tbody>
                </table>
            </form>
        </div>
        <% total = 0 %>
        <%for(var i=0;i < orders.length;i++){%>
            <% total = total + (orders[i].Price * orders[i].Quantity) %>
        <%}%> 
        <div class="subtotal">
            Subtotal:<%=total%>
        </div>
        <div class="form">
            <a href="/details"><button type="submit" class="btn text-dark update">
                checkout
            </button></a>
        </div>
    </main>


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->


























</html>